
/* Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/************************************ CSS Reset, Meyer Web's Reset *******************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************************************ CSS Variables *******************************************/
/* Colors */
:root{
--Primary-color-R: hsl(0, 100%, 74%);
--Primary-color-G: hsl(154, 59%, 51%);
--Accent-color-B: hsl(248, 32%, 49%);
--Neutral-color-DB:hsl(249, 10%, 26%) ;
--Neutral-color-GB :hsl(246, 25%, 77%);
}

body{
 background-color:var(--Primary-color-R);
 font-family: 'Poppins';
 font-size: 16px;
 height: 100vh;
 width: 100vw;
 background-image: url(./images/bg-intro-desktop.png);
}
.container{
	position: relative;
	left: 15vw;
	display: flex;
	flex-direction: row;
	height: 796px;
	width: 1440px;
	box-sizing: border-box;
}
section{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	width: 45%;
	height: 100%;
	margin: 5px;
}
/***************************** Advert *************************/
.advert-container{
	color: white;
	position: absolute;
	top:304px;
	left:160px;

}
.advert-container h1{
font-size: 47px;
font-weight: 700;
margin-bottom: 15px;
	/* color: white; */
}
.advert-container h2{
	font-size: 16px;
}
/***************************** Signup Form *************************/
.signup-form-section{
	position: relative;
	top:110px;
}
.signup-form-section form{
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 12px;
	height: 500px;
	width: 542px;
	filter: drop-shadow(0px 5px 1px #c55858);
}
.signup-form-section form input{
	position: relative;
	background-color: white;
	border-radius: 6px;
	border: 1px solid #dedede;
	color: #6E6E70;
	margin-left: 20px;
	margin-right: 20px;
	height: 56px;
	width: 460px;
	margin-top: 30px;
	padding-left: 32px;
	caret-color: var(--Primary-color-R);
}

.signup-form-section form input:placeholder{
	background-color: var(--Accent-color-R);
}

.signup-form-section .try-it-free{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background-color:var(--Accent-color-B);
	color: white;
	border-radius: 6px;
	margin-bottom:23px;
	height: 61px;
	width: 542px;
	filter: drop-shadow(0px 4px .5px #db6767);
}
signup-form-section .btn-and-terms{
	position: absolute;
	top:440px;
}
.signup-form-section .btn-and-terms .signup-form-submit-btn{
	position: relative;
	left: 20px;
	color:white;
	background-color: var(--Primary-color-G);
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 10%;
	border: none;
	filter: drop-shadow(0px 4px .5px hsl(154, 60%, 41%));
	cursor: pointer;
}
.signup-form-section .btn-and-terms .signup-form-submit-btn:hover{
	color:white;
	background-color:hsl(154, 60%, 41%);
	/* filter: drop-shadow(0px 4px .5px hsl(154, 60%, 41%)); */
	
}
.signup-form-section form .btn-and-terms p{
	text-align: center;
	font-size: 10px;
	position: relative;
	top:7px;
	color: hsl(246, 25%, 77%);
}
.signup-form-section form .btn-and-terms p #Terms-and-Services{
	text-decoration: none;
	color: var(--Primary-color-R);
	font-weight: 700;
}
p.attribution{
	font-size: 11px; 
	text-align: center; 
    color: hsl(228, 45%, 44%); 
}
/***********************Error Message Styling*********************************************/
.errorMsg{
	font-size: 15px;
	font-weight: 700;
	position: relative;
	text-decoration-style: wavy;
	top:5px;
	left:32px;
	color:#a03636;
	margin-top: 16;
}
/* .error-submessag{
	font-size: 15px;
	font-weight: 700;
	position: relative;
	text-decoration-style: wavy;
	top:5px;
	left:32px;
	color:#a03636;
} */
.error-submessage li{
	position: relative;
	left: 2vw;
 	list-style:disc;
 	font-size: 13px;
}
li::marker{
	text-indent: 0px;
}
@media screen and (max-width:376px){
	body{
		height: 1004px; 	
		width: 375px;
		display: flex;
		flex-flow: column;
		justify-items: center;
		background-image: url(./images/bg-intro-mobile.png);
	}
	.container{
		height: 1004px;
		width: 375px;
		display: flex;
		flex-flow: column;
	}
	section{
		display: flex;
		align-items: center;
	}
	.advert-section{
		width: 100vw;
		height: 262px;

	}
	.advert-container{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 375px;
	height:262px;
	top:0px;
	left: 10px;
	justify-content:center;
	align-content: center;
	align-items: center;
	}
	.advert-container h1{
		font-size: 27px;
	}
	.advert-container p{
		position: relative;
		text-align: center;
		font-size: 16px;
	}
	.signup-form-section{
		position: relative;
		top:0px;
		height: 687px;
		width: 375px;
	}
	.signup-form-section .try-it-free{
		display: inline-block;
		height: 65px;
		width: 349px;
		/* padding: 15px; */
		text-align:center ;
	}
	.signup-form-section .try-it-free span::before{
		content: "\a";
		white-space: pre;
	}
	.signup-form-section #signup-form{
		height: 500px;
		width: 350px;
	}
	#signup-form input{
		margin-top: 15px auto;
		height: 56px;
		width: 270px;
	}
}
/* 
<!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
<style>

  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
</style> */